.aPropos {
    background: url('../img/2background.png');
    color: white;
    height: 1080px;
}

.aPropos h1 {
    padding-top: 100px;
}

.paragraphe {
    text-align: center;
    font-size: 20px;
}

.github {
    width: 200px;
    height: 100px;
}

.buttonGit {
    background-color: #181818;
    color: white;
    border: none;
    margin: 10%;
    transition: 1s;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.buttonGit:hover {
    background-color: rgb(255, 255, 255);
    color: #181818;
    transition: 1s;
}

.buttonCV {
    background-color: #181818;
    color: white;
    border: none;
    margin: 10%;
    transition: 1s;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.buttonCV:hover {
    background-color: rgb(255, 255, 255);
    color: #181818;
    transition: 1s;
}

.myPhoto {
    padding-top: 4%;
    width: 150px;
}