.Contact {
    color: white;
    height: 1080px;
}

.Contact h1 {
    padding-top: 100px;
}

.input{
    background-color: rgba(255, 255, 255, 0)!important;
    color: white!important;
}

.Footer {
    background-color: #08101ddb;
    
}

.Twitter {
    opacity: 0.50;
    margin: 1%;
    transition: 0.5s;
}

.Twitter:hover {
    opacity: 1;
    transition: 0.5s;
}

.Insta {
    opacity: 0.50;
    margin: 1%;
    transition: 0.5s;
}

.Insta:hover {
    opacity: 1;
    transition: 0.5s;
}

.Git {
    opacity: 0.50;
    margin: 1%;
    transition: 0.5s;
}

.Git:hover {
    opacity: 1;
    transition: 0.5s;
}

.Mail {
    opacity: 0.50;
    margin: 1%;
    transition: 0.5s;
}

.Mail:hover {
    opacity: 1;
    transition: 0.5s;
}

.LinkedIn {
    opacity: 0.50;
    margin: 1%;
    transition: 0.5s;
}

.LinkedIn:hover {
    opacity: 1;
    transition: 0.5s;
}

.copyright {
    color: aliceblue;
    opacity: 0.8;
    font-size: 12px;
    padding-bottom: 1%;
}

.coeur {
    color: red;
    font-size: 15px;
}

.FootLogo {
    width: 500px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.form {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 14%;
}

.subButton {
    border: 0px solid;
    color: rgb(198, 198, 198);
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

.subButton:hover {
    color: white;
    background-color: rgba(26, 26, 26, 0);
    transition: 1s;
}