.Projets {
    background-color: rgba(244, 244, 244, 0.865);
    color: black;
    height: 1080px;
}

.Projets h1 {
    padding-top: 100px;
}

.contimg {
    transition: 1s;
}

.projetImg {
    border: 1px solid white;
}

.backimg {
    color: white;
    opacity: 0;
    transition: 1s;
}

.contimg:hover .backimg {
  background-color: rgba(0, 0, 0, 0.447);
    color: white;
    margin-top: 60%;
    opacity: 1;
    transition: 1s;
}